<style>
details#custom  summary{
    cursor: pointer; 
}
details#custom  summary span{
    cursor: pointer; 
    border-bottom: 1px dashed #000080; 
    border-color: #00f; 
    color: #00f; 
}
</style>