<style>
#my_p{
	padding-left:40px
}

#my_span {
	cursor: pointer;
	border-bottom: 1px dashed #000080;
	border-color: #00f;
	color: #00f
}

details summary::-webkit-details-marker {
  color: #fff;
  font-size: 500%;
}

summary::-webkit-details-marker {
  display: none
}
summary:after {
  content: "+"; 
  color: #000000; 
  float: left; 
  font-size: 1em; 
  font-weight: bold; 
  margin: 0px 10px 0 0; 
  padding: 0; 
  text-align: center; 
  width: 18px;
  height: 18px;
}
details[open] summary:after {
  color: #000000; 
  content: "-";
}
</style>